<nav class="navbar navbar-expand-lg navbar-light bg-warning bg-gradient">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto d-flex align-items-center mb-2 mb-lg-0">
          <li class="nav-item">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTHO7LmtutTOW0GeIw0e1XpBuygOyEP0pvac1zV18wGY2u1X0ww3ozuvmcdn4lQ8Vl6g0A&usqp=CAU" 
            alt="" width="50px" height="50px" class="img-fluid rounded-circle">
          </li>
          <li class="nav-item p-3">
            <p class="m-0 fw-bold fs-16" style="color: rgb(255, 255, 255);">Nome do usuário</p>
        </li>

        <li class="nav-item">
          <a href="">
          <p class="m-0 fs-16" style="color: blueviolet;"><i class="far fa-edit"></i></p>
          </a>
        </li>
        </ul>

        <ul class="navbar-nav ml-auto d-flex align-items-center mb-2 mb-lg-0">

        <li class="nav-item">
          <a href="">
          <p class="m-0 fs-2" style="color: blueviolet;"><i class="fas fa-sign-out-alt"></i></p>
          </a>
        </li>

      </ul>
      </div>
    </div>
  </nav>